.playground {
  display: block;
  margin: 2rem 0;
  width: 100%;

  & h2 {
    color: var(--ifm-color-primary);
  }

  & p {
    margin-bottom: 0.5rem;
  }
  
}

.exampleButtons {
  display: flex;
  gap: 1rem;

  & button {
    /* Remove default button styles */
    background: none;
    border: none;
    padding: 0;
    font: inherit; /* Inherit font styles from parent */
    /* font-size: small; */
    color: var(--ifm-color-primary); /* Or your desired link color */
    text-decoration: underline; /* Add underline like a link */
    text-decoration-color: var(--ifm-color-primary-lightest);
    cursor: pointer; /* Indicate it's clickable */
    text-align: left; /* Align text to the left, like a link */
    -webkit-appearance: none; /* Remove browser-specific button styling */
    -moz-appearance: none;
    appearance: none;

  }
}

.controls {
  margin: 1rem 0;
}

.actions {
  display: flex;
  gap: 1rem;
  margin: 0.25rem 0 1rem 0;

  & button {
    font-weight: normal;
    width: 120px;
  }
  
}

.copyButton {
  width: auto;
  padding: 0 8px;
  display: flex;
  align-items: center;
}
.copyButton:active > .copyIcon {
  rotate: 360deg;
}

.copyIcon {
  height: 18px;
  width: 18px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

html[data-theme='light'] .copyIcon {
  filter: invert(1)
}

.controlLabel {
  width: 6em;
}

.slider {
  display: flex;
  align-items: center;
  /* font-size: small; */
  height: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  /* font-size: small; */
  height: 20px;

}

p.security {
  font-size: small;
  color: var(--ifm-color-secondary-darkest);
  margin: 1rem 0 0 0;
}